body {
  background-color: #2066d6;
  border: ridge 25px #fc3903;
}

h1 {
  text-decoration: underline;
  color: #03fc94;
  font-family: "Sofia";
  font-size: 45px;
}

h1 {
  font-size: 35px;
}

p {
  font-size: 25px;
}
#e5ff66
